* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/*******HEADER*******/

header {
  background-color: #404041;
  height: 168px;
}

h1 {
  color: #DD1972;
  font-size: 82px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.subtext-header-line {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p.subtext-header-line::before,
p.subtext-header-line::after {
  border: 1px solid; 
  content: '';
  display: inline-block;
  margin: 0 10px 10px 0;
  width: 9%;
}

p.subtext-header-line::after {
  color: white;
  margin: 0 0 10px 10px;
}

.bold-header {
  font-weight: 700;
}

/*********MAIN*******/

.container {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.left-section {
  background-color: #F7F7F7;
  color: #6E6E6E;
  display: flex;
  /*flex-basis: 100%;*/
  flex-direction: column;
  flex: 1;
  padding: 10px;
  width: 50%;
}

.range-field,
.challenger-input-article,
.score-display,
.winner-card {
  margin: 10px;
  padding: 10px;
  border: 2px solid #D0D2D3;
  border-radius: 2px;
  background-color: #ffffff;
}

/********SET RANGE ARTICLE*******/

.range-field {
  /*font-size: 12px;*/
  /*display: inline-block;*/
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

/*.set-range-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}*/

.set-range {
  font-size: 20px;
}

.min-range,
.max-range, {
  height: 35px;
  margin: 0;
  width: 165px;
}

.min-range-form,
.max-range-form {
  display: inline-block;
}

.min-range-label,
.max-range-label {
  display: block;
  font-weight: 400;
  font-size: 18px;
}

.update-button {
  background-color: #6E6E6E;
  border-radius: 500px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  height: 35px;
  margin: 0px 20px 0px 20px;
  text-transform: uppercase;
  width: 111px;
}

.update-button:hover,
.submit-guess-button:hover,
.reset-game-button:hover, 
.clear-game-button:hover {
  background-color: #dd1972;
  color: #FFFFFF;
} 

/*********CHALL INPUT ARTICLE***********/

.challenger-input-article {
  display: flex;
  flex-direction: column;
}

.current-range {
  font-weight: 300;
  margin: 10px 0px 10px 10px; 
}

.min-number,
.max-number {
  font-weight: 700;
  margin: 0 5px 0 5px;
  text-decoration: underline;
}

.challenger-1-text,
.challenger-2-text {
  /*display: block;*/
  font-size: 18px;
  font-weight: 700;
  height: 20px;
  margin: 20px 0 30px 0;
}

.name-1-label,
.name-2-label {
  display: block;
  flex-wrap: wrap;
}

.guess-1-label,
.guess-2-label {
  display: block;
  flex-wrap: wrap;
}

.challenger-1-form, 
.challenger-2-form {
  display: flex;
}

.name-1-input,
.name-2-input {
  flex-wrap: wrap;
  width: 60%;
  height: 35px;
}

.guess-1-input,
.guess-2-input {
  flex-wrap: wrap;
  height: 35px;
  width: 30%;
}

.button-group {
  display: block;
  flex-wrap: wrap;
  margin: auto;
}

.submit-guess-button,
.reset-game-button,
.clear-game-button {
  background-color: #6E6E6E;
  border-radius: 500px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  height: 35px;
  margin: 33px 5px 5px 5px;
  text-transform: uppercase;
  width: 165px;
}

/********SCORE DISPLAY ARTICLE*********/

.score-display {
  display: flex;
  flex-direction: column;
}

.latest-score-text {
  font-size: 20px;
  font-weight: 700;
}

.latest-score-container {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.latest-score-right,
.latest-score-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.latest-score-right {
  border-right: 1px solid #D0D2D3;
}

.pink-guess {
  color: #DD1972;
  font-weight: bold;
  font-size: 65px;
}

/***********WINNER CARD ARTICLE*************/

.right-section{ 
  /*flex-basis: 100%;*/
  background-color: #D0D2D3;
  color: #6E6E6E;
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.winner-card {
  background-color:#F7F7F7;
  border: 2px solid #6e6e6e;
  text-transform: uppercase;
}

.card-header {
  color: white;
  font-weight: 300;

}

h4  {
  font-weight: 300;
  margin: 0 15px 0 15px;
  text-align: center;
}

.winner-name,
.winner-text {
  font-size: 33px;
  font-weight: 800;
  text-align: center;
}

.winner-name {
  margin-top: 20px;
}

.winner-text {
  font-weight: 300;
  margin-bottom: 20px;
}

.card-chall-1,
.card-chall-2 {
  font-weight: 800;
  margin: 0 20px;
}

hr {
  border: 1px solid #D0D2D3;
  margin: 2px 5px 2px 5px;
  width: 100%;
}

footer {
  margin: 3px;
  display: block;
  justify-content: space-evenly; 
}

.winner-number-of-guesses {
  float: left;
  font-weight: 800;
  margin-right: 2px;
}

.winner-time {
  font-weight: 800;
  margin-left: 155px;
}

.winner-close-button {
  background-color: #6E6E6E;
  border-radius: 100%;
  color: #F7F7F7;
  float: right;
  width: 23px;
  height: 23px;
}
