* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/*******HEADER*******/

header {
  background-color: #404041;
  height: 168px;
}

h1,
.clear-game-button,
.reset-game-button,
.submit-guess-button,
.subtext-header-line,
.update-button,
.winner-card {
  text-transform: uppercase;
}    

h1 {
  color: #DD1972;
  font-size: 82px;
  font-weight: 300;
  text-align: center;
}

.subtext-header-line {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

p.subtext-header-line::before,
p.subtext-header-line::after {
  border: 1px solid; 
  content: '';
  display: inline-block;
  margin: 0 10px 10px 0;
  width: 9%;
}

p.subtext-header-line::after {
  color: white;
  margin: 0 0 10px 10px;
}

.bold-header {
  font-weight: 700;
}

/*********MAIN*******/

.container {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.left-section {
  background-color: #F7F7F7;
  color: #6E6E6E;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  width: 50%;
}

.range-field,
.challenger-input-article,
.score-display,
.winner-card {
  background-color: #ffffff;
  border-radius: 2px;
  border: 2px solid #D0D2D3;
  margin: 10px;
  padding: 10px;
}

.error-message-1,
.error-message-2,
.error-message-3,
.error-message-4,
.error-message-5,
.error-message-6 {
  color: #dd1972;
  font-size: 14px;
  font-weight: 300;
}

.pink-error-box {
  border: 1px solid #dd1972;
}

.error-img {
  height: 15px;
  width: 15px;
}

/********SET RANGE ARTICLE*******/

h3 {
  font-size: 18px;
  font-weight: 700;
}

.set-range {
  font-size: 20px;
  font-weight: 700;
}

.min-range-form,
.max-range-form {
  display: inline-block;
  width: 36%;
}

.min-range,
.max-range {
  height: 35px;
  margin: 4px 0 10px 0;
  width: 85%;
}

.min-range-label,
.max-range-label {
  display: block;
  font-weight: 400;
  font-size: 18px;
}

.update-button {
  background-color: #6E6E6E;
  border-radius: 500px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  height: 35px;
  margin: 0 10px 0 10px;
  width: 111px;
}

button:hover {
  background-color: #dd1972;
  color: #FFFFFF;
} 

button:hover:disabled {
  background-color: #D0D2D3;
}

button:disabled {
  background-color: #D0D2D3;
}

/*********CHALL INPUT ARTICLE***********/

.challenger-input-article {
  display: flex;
  flex-direction: column;
}

.current-range {
  font-weight: 300;
  margin: 10px 0 10px 0; 
}

.min-number,
.max-number {
  font-weight: 700;
  margin: 0 5px 0 5px;
  text-decoration: underline;
}

.challenger-1-text,
.challenger-2-text {
  font-size: 18px;
  font-weight: 700;
  height: 20px;
  margin: 13px 0 13px 0;
}

.guess-1-label,
.guess-2-label,
.name-1-label,
.name-2-label {
  display: block;
  flex-wrap: wrap;
}

.challenger-1-form, 
.challenger-2-form {
  display: flex;
  flex-direction: row;
}

.name1,
.name2 {
  margin-top: 3px;
  width: 60%;
}

.guess1,
.guess2 {
  margin-top: 3px;
  width: 40%;
}

.guess-1-input,
.guess-2-input,
.name-1-input,
.name-2-input {
  flex-wrap: wrap;
  height: 35px;
}

.name-1-input,
.name-2-input,
.guess-1-input,
.guess-2-input {
  width: 87%;
}

.button-group {
  display: block;
  flex-wrap: wrap;
  margin: auto;
}

.submit-guess-button,
.reset-game-button,
.clear-game-button {
  background-color: #6E6E6E;
  border-radius: 500px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  height: 35px;
  margin: 33px 5px 5px 5px;
  width: 165px;
}

/********SCORE DISPLAY ARTICLE*********/

.score-display,
.latest-score-right,
.latest-score-left,
.right-section {
  display: flex;
  flex-direction: column;
}

.latest-score-text {
  font-size: 20px;
  font-weight: 700;
}

.latest-score-container {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.latest-score-right,
.latest-score-left {
  align-items: center;
  width: 49%;
}

.latest-score-right {
  border-right: 1px solid #D0D2D3;
}

.chall-number-1,
.chall-number-2 {
  color: #DD1972;
  font-weight: bold;
  font-size: 65px;
}

/***********WINNER CARD ARTICLE*************/

.right-section{ 
  background-color: #D0D2D3;
  color: #6E6E6E;
  flex: 1; 
}

.winner-card {
  background-color:#F7F7F7;
  border: 2px solid #6e6e6e;
  font-weight: 800;
}

.card-header {
  color: white;
  font-weight: 300;
}

h4  {
  font-weight: 300;
  margin: 0 15px 0 15px;
  text-align: center;
}

.winner-name,
.winner-text {
  font-size: 33px;
  text-align: center;
}

.winner-name {
  margin-top: 20px;
}

.winner-text {
  font-weight: 300;
  margin-bottom: 20px;
}

.card-chall-1,
.card-chall-2 {
  font-weight: 800;
  margin: 0 20px;
}

hr {
  border: 1px solid #D0D2D3;
  margin: 2px 5px 2px 5px;
  width: 100%;
}

footer {
  display: block;
  margin: auto;
}

.winner-number-of-guesses {
  float: left;
  font-weight: 300;
  margin-right: 2px;
}

.winner-time {
  margin-left: 155px;
}

.winner-close-button {
  background-color: #6E6E6E;
  border-radius: 100%;
  color: #F7F7F7;
  float: right;
  height: 23px;
  width: 23px;
}


/***********MEDIA QUERIES**************/

@media screen and (max-width: 1200px) {
  article {
    max-width: 100%;
  }

  body {
    margin: auto;
  }

  .min-range, .max-range {
    height: 35px;
    margin: 4px 0 10px 0;
    width: 88%;
  }

  .button-group {
    display: block;
    margin: 0;
  }

  .submit-guess-button, 
  .reset-game-button, 
  .clear-game-button {
    width: 100%;
  }
} 

@media screen and (max-width: 755px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .left-section {
    min-width: 100%;
  }

  .right-section {
    min-width: 100%;
  }

  header {
    height: 115px;
    max-width: 100%;
  }

  h1 {
    font-size: 50px;
  }

  .subtext-header-line {
    font-size: 22px;
  }

  .update-button {
    margin: 16px 10px 8px 10px;
  }
  
  .min-range-form, 
  .max-range-form {
    display: block;
    width: 100%;
  }

  .challenger-1-form,
  .challenger-2-form {
    display: block;
  }

  .name1,
  .name2,
  .guess1,
  .guess2 {
    width: 100%;
    flex-direction: column;
  }

  .submit-guess-button, 
  .reset-game-button, 
  .clear-game-button {
    width: 100%;
  }

  .button-group {
    margin: 0;
  }

  .name-1-input,
  .name-2-input,
  .guess-1-input,
  .guess-2-input,
  .min-range,
  .max-range {
    width: 100%;
  }

  .latest-score-container {
    display: inline;
  }

  .latest-score-right, 
  .latest-score-left {
    align-items: center;
    width: 100%;
  }
  
  .latest-score-right {
    border-bottom: 1px solid #D0D2D3;
    border-right: 0;
    margin-left: 12%;
    width: 77%;
  } 

  h4,
  .card-chall-1,
  .card-chall-2 {
    display: block;
    text-align: center;
  }

  .challenger-1-result-message {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 400px) {
  header {
    height: 115px;
    max-width: 100%;
  }

  h1 {
    font-size: 39px;
  }

  .subtext-header-line {
    font-size: 15px;
  }

  .name1,
  .name2,
  .guess1,
  .guess2 {
    width: 100%;
  }

  .guess-1-input,
  .guess-2-input,
  .name-1-input,
  .name-2-input,
  .min-range,
  .max-range {
    width: 100%;
  }

  .challenger-1-result-message {
    margin-bottom: 15px;
  }
  .player-1-name,
  .player-2-name {
    margin-top: 19px;
  }

  .chall-number-1,
  .chall-number-2 {
    font-size: 96px;
  }
}    